body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34495E ;
}

#instructions {
  color: #22313F;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  position: fixed;
  top: 1em;
  left: 1em;
  letter-spacing: 1px;
}
